# Игнорировать все CSV-файлы
*.csv

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения и переменные окружения
venv/
.env
*.env

# Логи и временные файлы
*.log
*.tmp
